html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100vh;
}

body {
    height: 100vh;
    position: relative;
}

.success, .failure {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.failure {
    color: #D8000C;
    background-color: #FFBABA;
}

.container-override-skin {
    max-width: 1820px;
}

.container-override-sidebar {
    max-width: 250px;
}

.overflow-scroll-y {
    overflow-y: scroll;
    height: 50%;
}

.navbar-nav-scroll-override-skin{
    max-height: 85vh !important; 
}

.card-override {
    height: 40vh;
    width: 27.3vh;
}

.card-image-override {
    height: 20vh;
    width: 20vh;
}

.cart-image {
    height: 4vh;
    width: 4vh;
}